<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playboard</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>
            <a href="#">Playboard <img id="logo" class="logo" alt="logo" title="Purple dot" /></a>
        </h1>
        <div class="dropdown">
            <button>🎵 Sound effects</button>
            <div class="dropdown-content">
            </div>
        </div>
    </header>
    <section>
        <h2 id="library">Board Name</h2>
        <div class="board">
        </div>
    </section>
    <footer>
        <p>Playboard <img class="logo-footer" alt="Logo" title="Purple dot" /> &copy; 2020</p>
        <p class="legal">Legal notice<br>All sounds files (unless otherwise specified) on this site retain their original copyright as owned by freesfx.co.uk. Playboard holds no liability from misuse of these files.</p>
    </footer>


    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>